<section id="sr-stage-kicker"></section>

<section>
	<div class="row">
		<div class="col-sm-6 half half-box stage-box clear-marg">
			{{#if profileImgFile}}
			<img src="img/profiles/{{profileImgFile}}" class="img-fullwidth">
			{{else}}
			<img src="{{profileImgUrl}}" class="img-fullwidth">
			{{/if}}
		</div>
		<div class="col-sm-6 half half-box stage-box clear-marg">
			<div class="img-wrapper">
				<div id="player"></div>
				<img class="img-fullwidth" data-model="youtube-preview" src="http://img.youtube.com/vi/{{shreds.0.youtubeId}}/0.jpg">

				<div class="content-btns">
					<span class="fa-stack fa-lg" title="Play" data-event="youtube-img">
						<i class="fa fa-circle fa-stack-2x"></i>
						<i class="fa fa-play fa-stack-1x fa-inverse"></i>
					</span>
					<span class="fa-stack fa-lg" title="Fullscreen view" data-event="fullscreen-shred" data-model="{{shreds.0._id}}">
						<i class="fa fa-circle fa-stack-2x"></i>
						<i class="fa fa-expand fa-stack-1x fa-inverse"></i>
					</span>
				</div>

				<div class="content">
					<h2 data-model="shred-title">{{shreds.0.title}}</h2>
					<p data-model="shred-desc">{{shreds.0.description}}</p>
				</div>
			</div>			
		</div>
	</div>

	<div class="row">
		<section class="focus-content col-sm-6 half stage-box">
			<section class="actions-row right">
				{{#if isUser}}<button class="btn" data-event="edit-btn">Edit Profile</button>
				{{else}}
				<i class="fa fa-envelope-o scale" data-event="msg" title="Send Message"></i>
				<i class="fa fa-gamepad scale" data-event="challenge" title="Challenge to Battle"></i>
				<i class="fa fa-plus scale" data-event="fan" title="Become Fan"></i>
				{{/if}}
			</section>
			<h1 class="heading big-up">{{username}}</h1>

			<table class="two-columns-stats">
				<tr>
					<td><h3 class="lead"><small>Born:</small>{{dateString}}</h3></td>
					<td><h3 class="lead"><small>Location:</small>{{location}}</h3></td>
				</tr>
				<tr>
					<td><h3 class="lead"><small>Played since:</small>{{startedPlaying}}</h3></td>
					<td><h3 class="lead"><small>Fans:</small> 10</h3></td>
				</tr>
			</table>

			<p>{{description}}</p>

			<div class="xsmall-gap"></div>
			<h6>{{username}} plays on:</h6>
			<section class="style-tags">
				{{#each guitars}}
				<span class="font-xsmall">{{this}}</span>
				{{/each}}
			</section>

			<div class="xsmall-gap"></div>
			<h6>Musical inspiration:</h6>
			<section class="style-tags">
				{{#each musicalDna}}
				<span class="font-xsmall">{{this}}</span>
				{{/each}}
			</section>

			<div class="small-gap"></div>
			<section class="actions-row">
				<i class="fa fa-twitter fa-2x"></i>
				<i class="fa fa-facebook fa-2x"></i>
				<i class="fa fa-google-plus fa-2x"></i>
			</section>
		</section>	

		<div class="col-sm-6 clear-marg">

			{{#each shreds}}
			<div class="col-sm-6 stage-block">
				<div class="img-wrapper stage-box" data-event="thumb-hover">
					<img class="thumb-img" src="http://img.youtube.com/vi/{{this.youtubeId}}/0.jpg" data-index="{{@index}}">

					<div class="content-btns" data-model="content-btns" style="display:none">
						<span class="fa-stack fa-lg" title="Play" data-event="youtube-img">
							<i class="fa fa-circle fa-stack-2x"></i>
							<i class="fa fa-play fa-stack-1x fa-inverse"></i>
						</span>
						<span class="fa-stack fa-lg" title="Fullscreen view" data-event="fullscreen-shred" data-model="{{this._id}}">
							<i class="fa fa-circle fa-stack-2x"></i>
							<i class="fa fa-expand fa-stack-1x fa-inverse"></i>
						</span>
					</div>

					<div class="content">
						<h4>{{this.type}}</h4>
						<p>{{this.title}}</h5>
					</div>
				</div>
			</div>
			{{/each}}
		</div>
	</div>
</section>