
<div class="img-wrapper stage-box">
	<!--<img src="img/profiles/{{this.user.profileImgFile}}">-->
	<img class="thumb-img" src="http://img.youtube.com/vi/{{this.youtubeId}}/0.jpg">

	<div class="content">
		<h4>{{this.type}}</h4>
		<p>{{this.title}}</h5>
	</div>

	<img class="profile-icon" src="img/profiles/{{this.user.profileImgFile}}">
</div>